{% extends 'frontend/base.html' %}

{% block title %}Connexion{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">  
    <a class="navbar-brand ms-4" href="/">
      <i class="fa fa-database"></i> OGSL
    </a>

    <div class="navbar me-3">
        <a class="btn btn-outline-light btn-sm d-flex justify-content-center align-items-center" 
          href="{% url 'inscription' %}">
          <i class="fa fa-user-plus me-1 mt-1"></i> Créer un compte</a>
    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="page-center" style="min-height:80vh; display:flex; justify-content:center; align-items:center;">
  <div class="card shadow-sm" style="max-width:400px; width:100%; padding:25px;">
    <h4 class="text-center mb-4">Connexion</h4>

    <!-- Affichage des messages -->
   {% if messages %}
      {% for message in messages %}
        <div class="alert 
                    {% if message.tags == 'error' %}alert-danger
                    {% elif message.tags == 'success' %}alert-success
                    {% else %}alert-info{% endif %} 
                    alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}

    <form method="post" action="{% url 'connexion' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Nom d'utilisateur</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Mot de passe</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-small">
                <i class="fa fa-sign-in-alt"></i> Se connecter
            </button>
        </div>
    </form>
  </div>
</div>
{% endblock %}

